<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
      <add name="ConnectionString" connectionString="character set=UTF8; data source=192.168.0.28;initial catalog=G:\Desktop\проекты\AUTOSERVICE_DB\AUTOSERVICE_DB_DEV.FDB;
    port number=3050; user id=SYSDBA; dialect=3; isolationlevel=Snapshot; pooling=True;password=masterkey;"
    providerName="FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>