<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="character set=UTF8; data source=192.168.0.28;initial catalog=G:\Desktop\проекты\AUTOSERVICE_DB\AUTOSERVICE_DB_DEV.FDB;
    port number=3050; user id=SYSDBA; dialect=3; isolationlevel=Snapshot; pooling=True;password=masterkey;"
    providerName="FirebirdSql.Data.FirebirdClient" />
    <!--<add name="ConnectionString"
      connectionString="character set=UTF8;data source=192.168.0.28; port number = 3050; initial catalog=AUTOSERVICE;user id=SYSDBA;Password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />!-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird"/>
    </providers>
  </entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data>
  <appSettings>
    <add key="DestExcelFolder" value="C:\Users\Админ\Desktop\проекты\ExcelTest\"/>
    <add key="PathForOpenAct" value="G:\Desktop\проекты\AutoService\AutoService\ExcelPatterns\ExcelPatternAct.xlsx"/>
    <add key="PathForOpenOrder" value="G:\Desktop\проекты\AutoService\AutoService\ExcelPatterns\ExcelOrderPattern.xlsx"/>
    <add key="PathForOpenBill" value="G:\Desktop\проекты\AutoService\AutoService\ExcelPatterns\ExcelPatternBill.xlsx"/>
  </appSettings>
</configuration>
